/* Estilos padrão para desktops */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Smartphones */
@media only screen and (max-width: 600px) {
    body {
        background-color: #f0f8ff;
        font-size: 14px;
    }
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    body {
        background-color: #faebd7;
        font-size: 15px;
    }
}

/* Laptops e desktops de tamanho médio */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    body {
        background-color: #ffebcd;
        font-size: 16px;
    }
}

/* Desktops grandes */
@media only screen and (min-width: 1201px) {
    body {
        background-color: #ffefd5;
        font-size: 18px;
    }
}
